body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    height: 100vh; /* Optional, this makes the layout take full height */
}

.box{
    background-color: yellow;
    border: 3px solid black;
    border-style: solid;
    margin:10px;
    width:100px;
    height:50px;
    text-align:center;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.flex-container{
    display:flex;
    
}

.flex-container > div{
    background-color: grey;
    margin:10px;
    padding:20px;
    font-size: 30px;

}

.left-column{
    display: flex;
    flex-direction: column; 
    flex: 1 1 16.5%; 
    /* Occupies 16.5% of the screen width */ 
    justify-content: flex-start; 
    /* Ensures elements align at the top */
}

.left_box {
    flex: 1 1 16.5%; /* Flex-grow: 1, flex-shrink: 1, flex-basis: 16.5% */
    display: flex;
            flex-direction: column;
            align-items: center;
            flex: 2;
    }

.right-column{
    display:flex;
    flex-direction: column;
    flex: 1 1 82.5%;
    justify-content: flex-start;
}

.right_box{
    flex: 1 1 82.5%;
    display:flex;
    flex-direction: column;
    align-items: center;
    flex:2;
}


#middle {
    flex: 0 1 66%; /* Flex-grow: 0, flex-shrink: 1, flex-basis: 66% */
}