.box{
    background-color: yellow;
    border: 3px solid black;
    border-style: solid;
    margin:10px;
    width:100px;
    height:50px;
    text-align:center;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.middle_column {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); /* Multiple boxes in one row */
    gap: 50px; /* Space between the boxes */
    justify-items: center; /* Center the boxes in the grid */
    padding: 10px;
    max-width: 600px; /* Ensures middle column doesn't get too wide */
   }
   

.middle_column > div{
    background-color: #66ffff;
    padding:20px;
    font-size: 30px;
    display: flex; 
    align-items: center; 
    justify-content: center;
    width: 100px;
    height: 50px;
    border: 4px solid #0000ff;
    border-radius: 10px;
    color:#0000ff

}

.left_box, .right_box { display: flex; 
    align-items: center; 
    justify-content: center;
    width: 100px;
    height: 50px;
    margin: 10px;
    padding:20px;
}

.left-column, .right_column {
    display:flex;
    flex-direction: column;
    align-items: center;
    flex: 1%;
    padding:10px;
}


.wrapper_malette{
    width: 70px;
    height: 10px;
    background-color: #ccffff;
    border: 1px solid black;
    display: flex; 
    align-items: center; 
    justify-content: center;
}

#message{
    border: 2px solid black;
    background-color: antiquewhite;
    height: 75px;
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    font-weight: bold;
}

#explication{
    border: 2px solid black;
    background-color: antiquewhite;
    height: 75px;
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    font-weight: bold;
}

#boutton_jeu{
    margin:10px;
    width:300px;
    height:75px;
    background-color:beige;
}

#top-section{
    width:100%;
    text-align: center;
    margin-bottom: 20px;
}

#bottom-section{
    display: flex;
    justify-content: space-around;
    width:100%;
    margin:0 auto;
    padding:20px 0;
}